In [1]:
import os
import pandas as pd
import numpy as np
import yfinance as yf
import matplotlib.pyplot as plt

pd.set_option("display.max_columns", None)

In [2]:
df = pd.read_csv(os.path.join("Data", "1_NIFTY500_5y.csv"), parse_dates=True, index_col=[0])

In [3]:
df

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits,Symbol
Date,,,,,,,,,
2018-11-09 00:00:00+05:30,20364.949219,20830.000000,20000.050781,20398.650391,19615.875000,873.0,0.0,0.0,3MINDIA.NS
2018-11-12 00:00:00+05:30,20650.000000,20655.750000,20380.000000,20464.300781,19679.005859,1134.0,0.0,0.0,3MINDIA.NS
2018-11-13 00:00:00+05:30,20469.949219,20522.750000,20300.000000,20439.300781,19654.966797,1585.0,0.0,0.0,3MINDIA.NS
2018-11-14 00:00:00+05:30,20453.800781,20900.000000,20453.800781,20748.199219,19952.011719,1002.0,0.0,0.0,3MINDIA.NS
2018-11-15 00:00:00+05:30,20889.900391,20899.900391,20500.000000,20608.650391,19817.818359,1593.0,0.0,0.0,3MINDIA.NS
...,...,...,...,...,...,...,...,...,...
2023-11-01 00:00:00+05:30,1961.000000,1986.949951,1926.000000,1980.400024,1980.400024,57973.0,0.0,0.0,ECLERX.NS
2023-11-02 00:00:00+05:30,1989.000000,2002.650024,1941.000000,1976.800049,1976.800049,52914.0,0.0,0.0,ECLERX.NS
2023-11-03 00:00:00+05:30,1978.550049,2005.550049,1960.050049,1966.900024,1966.900024,17424.0,0.0,0.0,ECLERX.NS
2023-11-06 00:00:00+05:30,1968.000000,2063.850098,1963.000000,2043.099976,2043.099976,70924.0,0.0,0.0,ECLERX.NS
2023-11-08 00:00:00+05:30,2110.000000,2110.000000,2057.500000,2090.899902,2090.899902,22730.0,0.0,0.0,ECLERX.NS

In [4]:
df[df['Symbol'] == '3MINDIA.NS']

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits,Symbol
Date,,,,,,,,,
2018-11-09 00:00:00+05:30,20364.949219,20830.000000,20000.050781,20398.650391,19615.875000,873.0,0.0,0.0,3MINDIA.NS
2018-11-12 00:00:00+05:30,20650.000000,20655.750000,20380.000000,20464.300781,19679.005859,1134.0,0.0,0.0,3MINDIA.NS
2018-11-13 00:00:00+05:30,20469.949219,20522.750000,20300.000000,20439.300781,19654.966797,1585.0,0.0,0.0,3MINDIA.NS
2018-11-14 00:00:00+05:30,20453.800781,20900.000000,20453.800781,20748.199219,19952.011719,1002.0,0.0,0.0,3MINDIA.NS
2018-11-15 00:00:00+05:30,20889.900391,20899.900391,20500.000000,20608.650391,19817.818359,1593.0,0.0,0.0,3MINDIA.NS
...,...,...,...,...,...,...,...,...,...
2023-11-01 00:00:00+05:30,29829.099609,30500.050781,29590.500000,30320.900391,30320.900391,2663.0,0.0,0.0,3MINDIA.NS
2023-11-02 00:00:00+05:30,30320.900391,31450.000000,30320.900391,31325.250000,31325.250000,3070.0,0.0,0.0,3MINDIA.NS
2023-11-03 00:00:00+05:30,31329.000000,31450.000000,31059.900391,31289.099609,31289.099609,1210.0,0.0,0.0,3MINDIA.NS
2023-11-06 00:00:00+05:30,31310.000000,31661.949219,31310.000000,31450.750000,31450.750000,1258.0,0.0,0.0,3MINDIA.NS
2023-11-08 00:00:00+05:30,31294.699219,31675.500000,31239.150391,31573.900391,31573.900391,491.0,0.0,0.0,3MINDIA.NS

In [6]:
import pandas as pd

# Sample financial data (replace this with your dataset)
data = pd.read_csv(os.path.join("Data", "1_NIFTY500_5y.csv"), parse_dates=True, index_col=[0])
data['Date'] = pd.to_datetime(data['Date'])

# Define the rolling window size (4 days)
rolling_window_size = 4

# Create an empty DataFrame to store the results
rolling_highs = pd.DataFrame()

# Iterate over the data
for i in range(len(data)):
    current_date = data.iloc[i]['Date']
    next_trading_days = []

    # Find the next 4 trading days (excluding weekends)
    for j in range(1, rolling_window_size + 1):
        next_day = current_date + pd.DateOffset(days=j)
        while next_day.weekday() >= 5:  # Skip Saturday and Sunday
            next_day += pd.DateOffset(days=1)
        next_trading_days.append(next_day)

    # Calculate the highest high among the next 4 trading days based on 1d and 5d returns
    high_values = [data[data['Date'] == day]['High'].values[0] for day in next_trading_days]
    max_high = max(high_values)

    # Create a new row for the rolling_highs DataFrame
    rolling_highs = rolling_highs.append({
        'Date': current_date,
        'Open': data.iloc[i]['Open'],
        '1dRollingHigh': max_high,  # 1d rolling high
        '5dRollingHigh': max_high   # 5d rolling high (modify this as needed)
    }, ignore_index=True)

# Display the rolling_highs DataFrame
print(rolling_highs)

KeyError: 'Date'